/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  /* Шрифты */
  --font-family-main: "Inter", sans-serif;
  --font-family-accent: "PressStart2P", monospace;

  /* Насыщенность вариативного шрифта */
  --card-text-font-weight: 400;
  --card-title-font-weight: 700;

  /* Резиновая ширина шапки и карточек */
  --content-width: clamp(320px, 100%, 700px);

  /* Цвета */
  --accent-color: #000000;
  --contour-color: var(--accent-color);
  --animation-fill-color: #ff0000;
  --label-stroke-color: #000000;
  --button-text-color: #ffffff;

  /* Фон страницы */
  --page-background-image: repeating-linear-gradient(
      to right,
      #d3d3d3 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%);
}

@media (width <= 375px) {
  :root {
    --content-width: 100%;
  }
}
